$primary-1: #5b7cfd;
$primary-2: #33cc86;
$primary-3: #ff7f57;
$primary-4: #ffae33;
$primary-5: #ffcf27;
$primary-6: #fbe691;

$light-1: #dee5ff;
$light-2: #cdf5f4;
$light-3: #ffe5dd;
$light-4: #d8e0fe;

$neutral-1: #232d42;
$neutral-2: #8a92a6;
$neutral-3: #73788b;
$neutral-4: #e7eef7;
$neutral-5: #e3e5e8;
$neutral-6: #929292;
