<div #myModal class="container">
  <div class="content">
    <div class="header">
      <h1>Add Domain Details</h1>
      <span style="cursor: pointer" (click)="close()">&#x2715;</span>
    </div>
    <form class="form" #myform="ngForm" (ngSubmit)="onSubmit(myform)">
      <div class="form-row">
        <div class="form-control">
          <label for="domain">Domain name *</label>
          <input type="text" name="domain" ngModel />
        </div>
        <div class="form-control">
          <label for="storage">Storage *</label>
          <input type="number" name="usedStorage" ngModel />
        </div>
      </div>
      <div class="form-row">
        <div class="form-control">
          <label for="subdomain">Subdomain *</label>
          <input type="text" name="subdomain" ngModel />
        </div>
        <div class="form-control">
          <label for="monthlyvisitor">Monthly Visitor *</label>
          <input type="number" name="monthlyVisitor" ngModel />
        </div>
      </div>
      <div class="buttons">
        <button type="submit">Save</button>
        <button (click)="close()">Close</button>
      </div>
    </form>
  </div>
</div>
