<div class="side-navbar">
    <div class="user-details">
      <div class="user-img">
        <img
          src="./assets/images/man-user-svgrepo-com (1).svg"
          width="100"
          height="100"
        />
      </div>
      <div class="user-name">John Doe <small>&#x25BC;</small></div>
      <div class="user-email">abc@yahoo.in</div>
    </div>
    <div class="links">
        <ul>
            <li class="link">Dashboard</li>
            <li class="link active">Site Details</li>
            <li class="link">Migrations</li>
            <li class="link">Backups</li>
            <li class="link">Collaborators</li>
            <li class="link">Support Tickets</li>
            <li class="link">Open New Ticker</li>
        </ul>
    </div>
  </div>
  